In [1]:
import business_analyst as ba

In [2]:
ba.data.usa_data_path

'D:\\arcgis\\business_analyst_data\\'

In [3]:
ba.data.usa_locator

'D:\\arcgis\\business_analyst_data\\Data\\Geocoding Data\\USA_LocalComposite.loc'

In [4]:
ba.data.usa_network_dataset

'D:\\arcgis\\business_analyst_data\\Data\\Streets Data\\NorthAmerica.gdb\\Routing\\Routing_ND'

In [5]:
lyr_dma = ba.data.layer_dma
lyr_dma

In [6]:
df_dma = lyr_dma.sdf
df_dma.head()

    ID             NAME                                              SHAPE
0  743    Anchorage, AK  {"rings": [[[-17073658.0698, 8181843.801400006...
1  744     Honolulu, HI  {"rings": [[[-17262143.1185, 2241077.731600001...
2  745    Fairbanks, AK  {"rings": [[[-15696322.047799997, 9833034.5505...
3  747       Juneau, AK  {"rings": [[[-14549813.669099998, 7310634.8004...
4  800  Bakersfield, CA  {"rings": [[[-13180995.4805, 4271941.481600009...